<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.board.mapper.SignMapper">

	<insert id="signWritedoc" parameterType="com.board.domain.Sign">
		insert into signdoc
		values
		(#{name},#{docno},#{docname},#{doctype},#{doclevel},#{content1},#{content2},#{content3},now())
	</insert>
 	<insert id="signWrite" parameterType="com.board.domain.Sign">
		insert into signboard(signdocno,department,name,signlevel,reg_date,signcontent)
		values
		(#{signdocno},#{department},#{name},#{signlevel},#{reg_date},#{signcontent})
	</insert>

	<select id="signList" resultType="com.board.domain.Sign">
		select * from signdoc order by docno desc
	</select>

	<select id="signDocView" resultType="com.board.domain.Sign">
		select * from signdoc where docno = #{docno}
	</select>

	<select id="signRead" resultType="com.board.domain.Sign">
		select * from signboard b left outer join signdoc d on b.signdocno=d.docno order by signno desc
	</select>

	<select id="signView" parameterType="int" resultType="com.board.domain.Sign">
		select *
		from signboard b join users u on b.name=u.name join department d on u.department = d.dep_no join job j on u.job_id = j.job_id
		where signno = #{signno}
	</select>
	
	<update id="signPermit" parameterType="com.board.domain.Sign">
		update signboard set
		checkno=checkno+1, checkman#{checkno}=#{name}, signlevel=#{signlevel}+1
		where signno = #{signno}
	</update>

	<update id="signDeny" parameterType="com.board.domain.Sign">
		update signboard set
		signconfirm = 1, denycouse = #{denycouse} where signno = #{signno}
	</update>



</mapper>
