<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.UserMapper">

	<select id="userlist" resultType="com.board.domain.User">
		SELECT * FROM users u JOIN department d 
		ON u.department = d.dep_no 
		JOIN job j
		ON u.job_id = j.job_id
		order by num desc
	</select>

	<select id="readUser" parameterType="String" resultType="com.board.domain.User">
		SELECT *
		FROM users u JOIN job j
		ON u.job_id = j.job_id
		JOIN department d
		ON u.department = d.dep_no
		WHERE username = #{username}
	</select>

	<select id="readAuthority" parameterType="String"
		resultType="org.springframework.security.core.authority.SimpleGrantedAuthority">
		SELECT authority_name FROM authority WHERE username =
		#{username}
	</select>

	<insert id="createUser" parameterType="com.board.domain.User">
		INSERT INTO
		users(username,password,name,gender,birth,mail,phone,address,hire_date)
		VALUES
		(#{username},#{password},#{name},#{gender},#{birth},#{mail},#{phone},#{address},now())
	</insert>

	<insert id="createAuthority" parameterType="org.springframework.security.core.GrantedAuthority">
		INSERT INTO
		authority(username)
		VALUES
		(#{username})

	</insert>

	<update id="adminMemberUpdate" parameterType="com.board.domain.User">
		update users set
		job_id =  #{job_id},name = #{name}, department = #{department},  birth = #{birth}, mail = #{mail},
		phone = #{phone}, address = #{address}, hire_date = #{hire_date}
		where username = #{username}
	</update>
	
	<update id="memberUpdate" parameterType="com.board.domain.User">
		update users set
		name = #{name},birth = #{birth}, mail = #{mail},
		phone = #{phone}, address = #{address}, hire_date = #{hire_date}
		where username = #{username}
	</update>

	<delete id="deleteUser" parameterType="String">
		DELETE FROM users WHERE
		username = #{username}
	</delete>

	<delete id="deleteAuthority" parameterType="String">
		DELETE FROM authority
		WHERE username = #{username}
	</delete>
	
	<select id ="findSignMember" parameterType="String" resultType="com.board.domain.User">
		SELECT * FROM users where department > 1
	</select>
</mapper>